
<% title "Books" %>
<% if @books.empty? %>
  <strong>Currently no books.</strong>
<% else %>
<div id="main_panel_container" class="left">
			<div id="dashboard">
				<h2 class="ico_mug">Dashboard</h2>
				<div class="clearfix">
				<div class="left quickview">
					<h3>Overview</h3>
					<ul>
					<% for book in @books %>
					<li>Book name: <%= book.name %></li>
					<% end %>
					</ul>
				</div>
				<div class="quickview left">
					<h3>Some data</h3>
					<ul>
					<li>Users online: <span class="number">15</span></li>
					<li>Trafic increase: <span class="number">34%</span></li>
					<li>Photos: <span class="number">3</span></li>
					<li>Things to do: <span class="number">3</span></li>
					<li>Photos waiting for aproval: <span class="number">31</span></li>
					<li>Visits Today: <span class="number">230</span></li>
					</ul>
				</div>
				<div id="chart" class="left">
					<h3>Visits today</h3>
					<div id="placeholder" ></div><!-- CHART -->
					<a href="#" class="ico_chart more">Click to see more</a>
				</div>	
				</div>
			</div><!-- end #dashboard -->
			
			
			
			<div id="shortcuts" class="clearfix">
				<h2 class="ico_mug">Panel shortcuts</h2>
				<ul>
					<li class="first_li"><a href=""><img src="images/app/theme.jpg" alt="themes" /><span>Themes</span></a></li>
					<li><a href=""><img src="images/app/statistic.jpg" alt="statistics" /><span>Statistics</span></a></li>
					<li><a href=""><img src="images/app/ftp.jpg" alt="FTP" /><span>FTP</span></a></li>
					<li><a href=""><img src="images/app/users.jpg" alt="Users" /><span>Users</span></a></li>
					<li><a href=""><img src="images/app/comments.jpg" alt="Comments" /><span>Comments</span></a></li>
					<li><a href=""><img src="images/app/gallery.jpg" alt="Gallery" /><span>Gallery</span></a></li>
					<li><a href=""><img src="images/app/security.jpg" alt="Security" /><span>Security</span></a></li>
					
				</ul>
			</div><!-- end #shortcuts -->
			</div>
<% end %>
